node_modules
.env.*
.env
.vercel

dist/**/*

# Project exclude paths
/api/generated/prisma/internal/class.js
/api/generated/prisma/internal/prismaNamespace.js
/api/generated/prisma/internal/prismaNamespaceBrowser.js
/api/generated/prisma/models/Assessment.js
/api/generated/prisma/models/ChatHistory.js
/api/generated/prisma/models/Journal.js
/api/generated/prisma/models/Mindfulness.js
/api/generated/prisma/models/Mood.js
/api/generated/prisma/models/Profile.js
/api/generated/prisma/models/Sleep.js
/api/generated/prisma/models/StressHistory.js
/api/generated/prisma/models/StressKit.js
/api/generated/prisma/models/User.js
/api/generated/prisma/browser.js
/api/generated/prisma/client.js
/api/generated/prisma/commonInputTypes.js
/api/generated/prisma/enums.js
/api/generated/prisma/models.js